@page "/"

<PageTitle>Index</PageTitle>

<div class="row">
    <div class="col text-center">
        <h1>Welcome to our Library</h1>
    </div>
</div>

<div class="row">
    <div class="col">
        <h2>Show all books in MOCK Database:</h2>
    </div>
</div>

<BookListTable  Books="books" />

<IndividualBook Book="oneBookToShow" IsTable="false" DisplayButtons="true" SwitchBook="ShowNewBook"/>

@code {

    List<Book> books;

    Random rnd;
    Book oneBookToShow;

    protected override void OnInitialized()
    {
        books = new List<Book>()
        {
            new Book()
            {
                Name = "The Pragmatic Programmer",
                Description = "Authors: Andrew Hunt, David Thomas",
                ReleaseDate = new DateTime(1999, 11, 19)
            },
            new Book()
            {
                Name = "Head First C#",
                Description = "Author: Andrew Stellman",
                ReleaseDate = new DateTime(2021, 01, 29)
            },
            new Book()
            {
                Name = "Clean Code",
                Description = "Author: Robert Martin",
                ReleaseDate = new DateTime(2008, 08, 01)
            },
        };

        rnd = new Random(DateTime.Now.Millisecond);
        oneBookToShow = books[rnd.Next(0, books.Count)];
    }

    void ShowNewBook()
    {
        oneBookToShow = SwitchBook();
    }

    Book SwitchBook()
    {
        Book tempBook;

        if (books.Count >= 2)
        {
            int iterator = rnd.Next(0, books.Count);
            tempBook = books[iterator];
        }
        else if (books.Count == 1)
            tempBook = books[0];
        else
            return new Book() {Name = "No items in array", ReleaseDate=DateTime.Now};

            return tempBook;
    }
}