@page "/"

<PageTitle>Index</PageTitle>

<div class="row">
    <div class="col text-center">
        <h1>Welcome to our Library</h1>
    </div>
</div>

<div class="row">
    <div class="col">
        <h2>Show all books in MOCK Database:</h2>
    </div>
</div>

<BookListTable  Books="books" />

<IndividualBook Book="books[0]" />

@code {

    List<Book> books;

    protected override void OnInitialized()
    {
        books = new List<Book>()
        {
            new Book()
            {
                Name = "The Pragmatic Programmer",
                Description = "Authors: Andrew Hunt, David Thomas",
                ReleaseDate = new DateTime(1999, 11, 19)
            },
            new Book()
            {
                Name = "Head First C#",
                Description = "Author: Andrew Stellman",
                ReleaseDate = new DateTime(2021, 01, 29)
            },
            new Book()
            {
                Name = "Clean Code",
                Description = "Author: Robert Martin",
                ReleaseDate = new DateTime(2008, 08, 01)
            },
        };
    }
}