<div class="table-responsive">
    <table class="table text-light">
        <thead class="thead-light">
            <tr>
                <th>Book</th>
                <th>Description</th>
                <th>Release Date</th>
                <th><input type="checkbox" @bind="displayButtons" /> </th>
            </tr>
        </thead>
        <tbody>
            @if (Books == null)
            {
                <tr>LOADING...</tr>
            }

            else if (Books.Count == 0)
            {
                <tr> NO ITEMS FOUND</tr>
            }

            else
            {
                @foreach (var item in Books)
                {
                    <IndividualBook IsTable=true Book="item" DisplayButtons="displayButtons" DeleteBook="DeleteTheBook"/>
                }
            }

            
        </tbody>
    </table>
</div>

@code {
    [Parameter] public List<Book> Books { get; set; }

    bool displayButtons = false;

    void DeleteTheBook(Book book)
    {
        Books.Remove(book);
    }
}
